---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Following Learn With Jason</title>
  </head>
  <body>
    <header>
      <a href="/">
        <span role="img" aria-label="Cheese">🧀</span>
        Food Truth</a
      >

      <nav>
        <ul>
          <li>
            <a href="/">Blog</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
