---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Following Learn With Jason</title>
  </head>
  <body class="">
    <header
      class="bg-yellow-400/20 py-3 w-full justify-between flex px-20 font-semibold"
    >
      <a href="/">
        <span role="img" aria-label="Cheese">🧀</span>
        Food Truth</a
      >

      <nav>
        <ul>
          <li>
            <a href="/">Blog</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="mx-auto m-10 prose container max-w-4xl">
      <slot />
    </main>
  </body>
</html>
