---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Unhackable Wordpress Site</title>
  </head>
  <body class="">
    <header
      class="bg-yellow-400/20 py-3 w-full justify-between flex px-20 font-semibold"
    >
      <a href="/">
        <span role="img" aria-label="Cheese">🧀</span>
        Home</a
      >
      <a href="https://github.com/sazzadtanim">
        <span role="img" aria-label="Cheese">🧀</span>
        Github</a
      >

      <nav>
        <ul>
          <li>
            <a href="https://bento.me/sazzadtanim">My Projects</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="mx-auto m-10 prose container max-w-4xl">
      <div class="ring-1 p-5 my-5 ring-red-500">
        <h3>
          This site is built with Astro (front-end) and WordPress (back-end).
          This decoupled setup makes this site unhackable.
        </h3>
        <p>
          Astro powers the world's fastest websites, client-side web apps,
          dynamic API endpoints, and everything in-between.
        </p>
        <p>
          Lightning-fast hosting, intuitive, flexible editing, and everything
          you need to grow your site and audience, baked right in WordPress
        </p>
      </div>
      <slot />
    </main>
  </body>
</html>
